@import "color.css";

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background);
    height: min-content;
}

.page_content {
    height: 100%;
}

.main_container {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.on_leave {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section1 {
    /*height: min-content;*/
    /*margin: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /*padding-top: 10px;*/
    border-radius: 5px;
    background-color: #f3ded9;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.section1 p {
    margin: auto;
    padding-left: 6px;
    padding-top: 10px;
}

.section1 .on-leave-people {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
    padding: 6px;
}

.section2 {
    /*padding-top: 10px;*/
    height: 100%;
    margin: 0 10px 10px;
    border-radius: 5px;
    background-color: #e8f8f8;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emp_list {
    height: min-content;
    display: flex;
    flex-direction: column;
    /*margin: 10px;*/
}

.fill_form {
    display: flex;
    flex-direction: row;
}

.emp_list .to-be-add {
    width: 100%;
    margin-bottom: 15px;
}

.emp_list .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    text-align: center;
    /*margin-top: auto;*/
    margin-bottom: auto;
}

.to-do{
    color: #14a314;
    font-weight: bold;
    font-size: large;
}

.emp_list hr {
    margin-bottom: 20px;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.now{
    display: initial;
}

.emp_list .box{
    display: flex;
    flex-direction: row;
    /*background-color: cyan;*/
    border-radius: 20px;
    width: 100%;
    height: 40px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .070);
    margin-bottom: 10px;
}

.box img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
    padding: 6px;
}

.box .content1 {
    width: 30%;
    margin: auto;
    border: none;
    font-size: 17px;
}

.box .content2 {
    width: 20%;
    margin: auto;
}

.box .content3 {
    width: 20%;
    margin: auto;
}

.box input[type=checkbox] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto 16px;
}

.box a {
    margin: auto;
    font-size: 20px;
    color: crimson;
}

.fa, .fas {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
}

.fa-check-square:before {
    content: "\f14a";
    cursor: pointer;
    color: green;
}

/*History table*/
#h-table {
    overflow-y: auto;
    max-height: 350px;
    padding-bottom: 10px;
}

table {
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding: 10px 0 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.history-table {
    margin-right: 10px;
}

table tr {
    border-right: 2px solid var(--h2);
    border-left: 2px solid var(--h2);
    border-top: 2px solid var(--h2);
    border-bottom: 2px solid var(--h2);
    overflow-y: scroll;
}

table th, table td {
    height: 56px;
    text-align: left;
    padding-left: 8px;
}

table th {
    background-color: var(--h2);
    height: 56px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 0;
    top: -2px;
}

table td {
    height: 52px;
}

tr #options {
    cursor: pointer;
}

tr #options:hover {
    transform: scale(1.1);
}

tr:nth-child(even) {
    background-color: var(--h2);
}

/*Attendance form*/
.attendance_form {
    width: 35%;
    height: max-content;
    /*margin: 10px;*/
    border: 2px solid var(--h1);
    border-radius: 5px;
    display: none;
}

.form-title {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f8f8;
    font-size: 20px;
    font-weight: bold;
}

.form-content {
    margin: 10px;
}

.attendance_form .date {
    display: flex;
    flex-direction: row;
    /*padding-bottom: 10px;*/
    margin-top: auto;
    margin-bottom: auto;
}

.attendance_form .date div {
    margin: auto;
}

.form-content .selected-names {
    width: 100%;
    display: inline-block;
    height: 80px;
}

.form-content .box {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .070);
    margin-bottom: 10px;
    margin-right: 5px;
    display: none;
    float: left;
}

.form-content .box .content {
    color: #979696;
    font-size: 10px;
    padding-right: 5px;
}

.attendance_form .date label {
    margin-top: 2px;
}

.attendance_form .date input {
    border-style: none;
    font-size: 16px;
}

.attendance_form .row {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.attendance_form .row label {
    padding-bottom: 5px;
}

.attendance_form .row input {
    height: 30px;
    border-radius: 5px;
    border-color: #d9d9d9;
}

.attendance_form .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons button, .buttons input {
    margin-left: 10px;
}

.buttons .m-mark {
    background-color: var(--h1);
    color: var(--w);
    font-weight: bold;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

.buttons .m-cancel {
    color: coral;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 80px;
    height: 30px;
}


/*Pop up form*/
.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) ;
    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window {
    /*height: 250px;*/
    height: min-content;

    width: 100%;
    max-width: 500px;
    background-color: white;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confir__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.confirm__titlebar, .confirm__content, .confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background-color: var(--h1);
    color: var(--w);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.confirm__title {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.confirm__close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: var(--w);
    transition: color 0.1s;
}

.confirm__close:hover {
    color: var(--red);
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
}

.confirm__buttons {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm__button {
    padding: 0.4em 0.8em;
    border: 2px solid var(--h1);
    border-radius: 5px;
    background-color: var(--w);
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill {
    background-color: var(--h1);
    color: var(--w);.attendance-update_form .first_row
}

.confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@keyframes confirm---open {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes confirm---close {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes confir__window---open {
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/*Attendance changing form*/
.attendance-update_form {
    width: 100%;
    height: max-content;
}

.attendance-update_form .first_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
    font-weight: bold;
}

.first_row input {
    font-weight: bold;
}

.attendance-update_form .first_row div {
    display: flex;
    flex-direction: row;
}

.attendance-update_form .first_row .column_1 {
    float: left;
    width: max-content;
    padding-top: 2px;
}

.attendance-update_form .first_row .column_2 input {
    border: none;
}

.attendance-update_form .row {
    display: flex;
    flex-direction: row;
    /*width: 60%;*/
    margin-bottom: 10px;
    justify-content: center;
}

.attendance-update_form .column_1 {
    width: 20%;
}

.attendance-update_form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    width: 150px;
}

/*calender*/
.event {
    display: none;
}

#newEventModal, #deleteEventModal {
    display: none !important;
}

#modalBackDrop {
    display: none !important;
}

/*slide show*/

/* Hide the div by default */
.mySlides {
    display: none;
}

.next-prev {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #bfbaba;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.missing{
    color: #8e3948;
    font-weight: bold;
    font-size: large;
}

.fa .fa-check-square {
    color: green;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 1120px) {
    .main_container {
        flex-direction: column-reverse;
    }

    .on_leave{
        width: 100%;
        flex-direction: row;
    }

    .section1 {
        height: 100%;
        width: 50%;
        margin-right: 0;
        margin-left: 0;
    }

    .section2 {
        width: 50%;
    }

    .right-section {
        top: 200px;
    }
}

@media screen and (max-width: 1010px){
    .attendance_form .date {
        flex-direction: column;
    }
}

@media screen and (max-width: 830px){
    .on_leave {
        flex-direction: column;
        width: 100%;
    }

    .section1 {
        width: 100%;
        height: 30%;
        margin-left: 0;
    }

    .section2{
        margin-right: 0;
        width: 100%;
        margin-left: 0;
    }

    .top-section {
        flex-direction: column;
    }

    .emp_list {
        margin-right: 10px;
        margin-left: 0;
    }

    .to-be-add, .fade {
        min-width: 95%;
    }

    .attendance_form {
        width: 100%;
        margin-right: 10px;
        /*margin-left: 0;*/
    }

    .attendance_form .row, .date, .selected-names {
        margin: auto;
    }
}