/* @import "color.css"; */

body {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 100%;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 5px;
    border-radius: 5px;
}

.left{
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}

.right{
    border-radius: 5px;
    display: flex;
    width: 39%;
    margin: 10px;
}

.cal{
    width: 100%;
    
}

.card_container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 8px;
    width: 80%;
    text-align: center;
    /* background-color:#dbe3e6; */
    background-color: white;
    border-radius: 10px;
    margin: auto;
    min-height: 250px;
}

.card h2 {
    color: var(--h1);
    text-transform: uppercase;
    font-size: 22px;
}

.card p {
    color: var(--h1);
    /* font-size: 30px; */
    margin: 0;
    margin-bottom: 20px;
}

/* .card p i{
    font-size: 30px;
    color: var(--h1);
    padding-right: 10px;
    color: #065B7A;
    font-size: 50;
} */

.card p {
    color: #070707;
    font-family: Arial;
    font-size: 40;
    padding-top: 10px;
    padding-bottom: 5px;
    /* line-height: 40px; */
}

.card i {
    color:var(--header);
}

.card .users {
    font-size: 25px;
    font-weight: bold;
    color: var('--header');
}


.show-more {
    min-width: 120px;
    height: 40px;
    background-color: #dbe3e6;

    /* border: 1px solid black; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .200);
    border-radius: 20px;
    padding: 12px;
    border-style: none;
    cursor: pointer;
    color: black;
}

.show-more:hover {
    /* background-color: #E4F1F5; */
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .25);
    width: 125px;
    height: 41px;
}

footer {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #5016d0;
    text-align: center;
    top: 106%;
}

.ofs {
    color: #DCDCE0;
    font-size: 15px;
    /* margin: auto; */
    padding-top: 25px;
}

@media screen and (max-width: 965px){
    .container{
        background-image: url("../img/wave.svg");
        background-repeat: no-repeat;
        background-size:auto;
        flex-direction: column;
        justify-content: center;

    }

    .left, .right {
        margin:auto;
        width:100%;
    }

    .right{
        margin-top: 50px;
    }

}

@media screen and (max-width: 412px){
    .card {
        width: 80%;
    }
    .card_container {
        width: 100%;
    }
    .left, .right {
        margin:auto;
        width:99%;
    }

}





input {
    width: 30px;
    /* padding: 3px; */
    border:none;
    font-size:large;
    margin-right:10px;
}

.data {
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

.data :hover {
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .20);
}

.cards {
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    /* box-shadow: 3px 5px 15px rgba(0, 0, 0, .10); */
    cursor: pointer;
    border-radius: 10px;
}

.cards :hover {
    box-shadow: none;
}

.manager {
    height: auto;
}

.img {
    height: 45px;
    width: 45px;
    background-image: url(../img/1900913.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5.5px;
    margin-left: 5px;
    margin-right:5px;
    border-radius: 50%;
}

img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.name,
.role,
.email {
    width: 30%;
    overflow: scroll;
    /* overflow: hidden; */
    max-height: 100%;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align: center;
    color: rgba(0, 0, 0, 0.603);
    font-weight: bold;
    font-size: medium;
    background-color: white;

    
}

::-webkit-scrollbar {
    height: 3px;
    /* width: 10px; */
    border-radius: 2px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

@media screen and (max-width: 640px) {

    .role{
        display: none;
    }
    
    input {
        width: 15px;
        padding: 2px;
        border:none;
        font-size:small;
        margin-right:5px;
    }
    .name,
    .email {
        width: 45%;
    }
    .data {
        width: 95%;
        margin:auto;
        /* margin: 5px; */
    }
    .name,
    .email {
        color: rgba(0, 0, 0, 0.603);
        font-weight: bold;
        font-size: small;
    }
    .cards {
        margin: 2px;
        margin-top: 5px;
    }
}