@import "color.css";
body {
    font-family: Roboto, sans-serif;
}

.header {
    height: 70px;
    display: flex;

    align-items: center;
    text-align: center;
    background-color: var(--h2);
    max-width: 100%;

}

.stroke2 {

    height: 70px;
    display: none;

    align-items: center;
    text-align: center;
    background-color: var(--h2);
    max-width: 100%;
}


/*.nav-bar {*/


/*    !*height: 100px;*!*/


/*    align-items: center;*/


/*    text-align: center;*/


/*    background-color: #5B7CFE;*/


/*    width: 100%;*/


/*    border-radius: 10px;*/


/*    margin-bottom: 5px;*/


/*    margin-left: 5px;*/


/*    margin-right: 5px;*/


/*}*/

.header ul, .stroke2 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.header ul li, .stroke2 ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.header ul li a, .stroke2 ul li a {
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    justify-content: space-between;
    color: var(--h1);
    display: inline-block;
    margin: 0;
    padding: 15px;
}

.header i, .stroke i {
    padding-right: 5px;
}

.header ul li a,
.header ul li a:after,
.header ul li a:before, .stroke2 ul li a,
.stroke2 ul li a:after,
.stroke2 ul li a:before {
    transition: all .5s;
}

.header ul li a:hover, .stroke2 ul li a:hover {
    color: black;
}

.header ul li a, .stroke2 ul li a {
    position: relative;
}

.header ul li a:after, .stroke2 ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: black;
    height: 2px;
}

.header ul li a:hover:after, .stroke2 ul li a:hover:after {
    width: 100%;
}

@media screen and (max-width: 830px) {
    .header {
        display: none;
    }

    .stroke2 {
        display: flex;
    }

    .stroke2 a {
        font-size: xx-large;
    }
}