.confirm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;

    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window{
    max-height: 95vh;
    min-height: 375px;
    width: 100%;
    max-width: 600px;
    font-size: 14px;
    font-family: sans-serif;
    background: white; 
    border-radius: 5px;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background:#0f9eb8;
    color: #ffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm__title{
    font-weight: bold;
    font-size: 1.1em;
}

.confirm__close {
    background: none;
    outline: none;
    border:none;
    transform: scale(2.5);
    color: white;
    transition: 0.15s;
    width:fit-content;
    padding:0;
    box-shadow: none;
}

.confirm__close:hover {
    color: red;
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
    height: fit-content;
    max-height: 60vh;
    overflow: scroll;
}

.confirm__buttons {
    background: #eeeeee;
    display: flex;
    position: relative;
    bottom: 0;

    justify-content: flex-end;
}

.confirm__button{
    padding: 0.4em 0.8em;
    border:2px solid #0f9eb8;
    border-radius: 5px;
    background-color: #0f9eb8;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill{
     background-color: #0f9eb8;
     color: #ffffff;
}

.init{
    display: none;
}

@keyframes confirm---close {
     from {opacity: 1;}
     to {opacity: 0;}    
}


@keyframes confirm---open {
    from { opacity: 0; }
    to {opacity: 1;}
}

@keyframes confirm__window---open {
    to{
        opacity: 1;
        transform: scale(1);
    }
}


