@import "color.css";

/*profile*/
body{
    font-family: Robot, sans-serif;
    height: auto;
    background-color: var(--w);
}

.profile_container {
    display: flex;
    height: 100%;
}

#myProfile {
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #0C6170;
    min-height: 100%;
}

.profile__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
    padding: 20px;
}

.name {
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
    text-transform: capitalize;
}

.job {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
}

.contact {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: white;
}

.email {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: white;
}

.hire {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
}

.date {
    font-size: 0.8em;
    margin-bottom: 20px;
    color: white;
}

.address {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
}

.supervisor {
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
}

@media screen and (max-width: 1200px){
    #myProfile {
        flex-direction: row;
    }

    .profile_container {
        flex-direction: column-reverse;
        width: 100% !important;
    }

    .profile {
        width: 100%;
        box-shadow: none;
        height: max-content;
    }

    .content {
        width: 100vh;
    }

    .details {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-around;
    }

    .main_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        font-size: small;
        margin: 0;
    }

    .co_details {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-around;
        font-size: smaller;
    }

    .contact {
        margin-bottom: 0;
    }

    .contact, .email, .hire, .date, .address, .supervisor {
        width: max-content;
        margin-bottom: 0;
        margin-right: 5px;
    }

    .name, .job{
        padding: 0;
        margin: 0;
    }

    .profile__image {
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 600px){
    #myProfile {
        font-size: smaller;
    }

    .main_details{
        font-size: smaller;
    }

    .profile__image {
        width: 60px;
        height: 60px;
        text-align: center;
    }

    .co_details {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .co_details span, .co_details i{
        font-size: medium;
    }

    .supervisor span{
        font-size: smaller;
    }

    .contact, .email, .hire, .date, .address, .supervisor {
        text-align: center;
        width: 100%;
    }

    center {
        margin: auto;
    }
    /*.profile__image {*/

    /*    width: 30px;*/
    /*    height: 30px;*/
    /*}*/
}