@import "color.css";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.main_container {
    background-color: white;
    padding: 10px;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgb(0 0 0 / 20%);
}

.report_container {
    background-color: white;
    border-radius: 10px;
    margin: 5px 5px 10px;
    display: flex;
}

.report_type {
    padding: 10px;
    width: 25%;
}

.report_name p {
    color: #232F34;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options button {
    width: 30%;
    height: 40px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.download {
    cursor: pointer;
    margin: 10px;
    height: 60px;
    width: 60px;
    align-content: center;
    border-radius: 50%;
    background-color: #B2EBF2;
}

.download i {
    margin: 15px;
}

.divide_line {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid grey;
    height: 100%;
    opacity: 50%;
}

.chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
    /*justify-content: center;*/
}

.show_chart {
    display: flex;
}

.report_title {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: rgba(174, 222, 174, 0.38);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.report_title p {
    margin-bottom: auto;
    letter-spacing: 2px;
}

.select {
    width: 100%;
    height: 100%;
}

.select input {
    margin-bottom: 12px;
}

.reimbursement_report {
    display: flex;
}

.leave_report3 {
    display: flex;
}

#claim_history_table_month1 {
    display: none;
}

#claim_history_table_month2 {
    display: none;
}

#claim_history_table_month3 {
    display: none;
}

#reim_button1 {
    display: none;
}

#reim_button2 {
    display: none;
}

#reim_button3 {
    display: none;
}

#benefit_history_table_month1 {
    display: none;
}

#benefit_history_table_month2 {
    display: none;
}

#benefit_history_table_month3 {
    display: none;
}

#bene_button1 {
    display: none;
}

#bene_button2 {
    display: none;
}

#bene_button3 {
    display: none;
}

#leave_history_table_month1 {
    display: none;
}

#leave_history_table_month2 {
    display: none;
}

#leave_history_table_month3 {
    display: none;
}

#leave_button1 {
    display: none;
}

#leave_button2 {
    display: none;
}

#leave_button3 {
    display: none;
}

table {
    margin-top: 2%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65%;
}

tr {
    border-right: 2px solid var(--h2);
    border-left: 2px solid var(--h2);
    border-top: 2px solid var(--h2);
    border-bottom: 2px solid var(--h2);
}

th {
    height: 56px;
    text-align: left;
    padding-left: 8px;
}

td {
    height: 52px;
    text-align: left;
    padding-left: 8px;
}

tr:nth-child(even) {
    background-color: var(--h2);
}

.btn {
    background-color: #B2EBF2;
    border-radius: 10px;
    color: black;
    padding: 12px 40px;
    margin-left: 52%;
    margin-top: 3%;
    cursor: pointer;
    font-size: 16px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

.btn1 {
    background-color: #B2EBF2;
    border-radius: 10px;
    color: black;
    padding: 12px 40px;
    margin-left: 52%;
    margin-top: 3%;
    cursor: pointer;
    font-size: 16px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

.view_btn {
    background-color: #B2EBF2;
    border-radius: 10px;
    color: black;
    padding: 12px 40px;
    /* margin-left: 40%; */
    margin-top: 1%;
    margin-bottom: 2%;
    cursor: pointer;
    font-size: 16px;
    height: fit-content;
    width: fit-content;
}

.view_btn:hover {
    background-color: blue;
    color: white;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: blue;
    color: white;
}

@media screen and (max-width: 600px) {
    .options button {
        width: 40%;
        height: 40px;
        background-color: blue;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}