@import "color.css";
body {
    /*background-color: var(--background);*/
    font-family: Roboto, sans-serif;
    background-color: #fff;
    /*max-height: 100vh;*/
}

.main_container {
    background-color: white;
    min-height: 100vh;
    display: flex;
}

.img {
    width: 100%;
    height: 150px;
    margin: 0;
    bottom: 0;
    background-color: var(--w);
}

.main_container svg path{
    min-height: 100%;
}

.benefit_list .title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.no_benefits {
    margin: 20px;
    text-align: center;
    font-size: large;
    color: var(--grey1);
}

.handling_title {
    font-size: x-large;
    color: var(--f);
    text-align: left;
    margin: 10px;
    font-weight: bold;
    float: left;
}

.add_benefits {
    float: right;
    background-color: var(--update_button);
    height: 30px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    padding: 10px 0 0 15px;
    cursor: pointer;
}

.add_benefits:hover {
    background-color: #289cc7;
}

.add_benefits i {
    padding-right: 20px;
}

.add_benefits p {
    margin: 0;
}

.benefit_list {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    /*margin-bottom: 10px;*/
}

.benefit_list table {
    width: 100%;
    color: var(--f);
}

#options{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#options div {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.benefit_list table tr td i {
    padding-right: 20px;
    color: var(--f);
}

td button {
    width: 30%;
    border-radius: 5px;
    height: 70%;
    cursor: pointer;
    padding-left: 20px;
    margin-left: 5px;
}

#edit {
    color: #58ccf7;
}

#delete {
    color: rgb(240, 88, 88);
}

td button i {
    /*padding-left: 10px;*/
}

#options i:hover {
    transform: scale(1.2);
}

.edit, .delete {
    padding-right: 20px;
}

.main_container .benefit_head {
    background-color: white;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.benefit_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 9;
}

.benefit_form .row {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.benefit_form .row .column_1 {
    padding-left: 20px;
    font-size: medium;
    color: #1C1D1D;
    text-align: left;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit_form .row .column_1 label {
    width: 90%;
}

.benefit_form .row .column_2 {
    width: 100%;
    display: flex;
    padding-left: 20px;
}

.row .row_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column_2 select,
.column_2 input {
    width: 90%;
    padding-top: 10px;
    margin: 0 0 8px;
    display: inline-block;
    border: 1px none #ccc;
    border-bottom-style: solid;
    box-sizing: border-box;
}

.column_2 select:focus,
.column_2 input:focus {
    outline: none;
}

.update_button:hover {
    box-shadow: 0 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}


/*Pop up form*/
.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) ;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window {
    height: min-content;
    width: 100%;
    max-width: 500px;
    background-color: white;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.75);
    animation-name: confir__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.confirm__titlebar, .confirm__content, .confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background-color: var(--h1);
    color: var(--w);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.confirm__title {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.confirm__close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: var(--w);
    transition: color 0.1s;
}

.confirm__close:hover {
    color: var(--red);
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
    display: flex;
    justify-content: center;
    margin: 0;
}

.confirm__buttons {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm__button {
    padding: 0.4em 0.8em;
    border: 2px solid var(--h1);
    border-radius: 5px;
    background-color: var(--w);
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill {
    background-color: var(--h1);
    color: var(--w);
}

.confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@keyframes confirm---open {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes confirm---close {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes confir__window---open {
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/*Table*/
ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 0;
}
.table-header {
    /*border: 2px solid #289cc7;*/
    background-color: rgba(187, 189, 189, 0.4);
    /*background-color: rgba(40, 156, 199, 0.77);*/
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bold;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
}
.table-row:hover{
    background-color: rgba(187, 189, 189, 0.11);
}
.col-1 {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
}
.col-2 {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}
.col-3 {
    display: flex;
    justify-content: center;
    flex-basis: 14%;
}
.col-4 {
    display: flex;
    justify-content: center;
    flex-basis: 14%;
}
.col-5 {
    display: flex;
    justify-content: center;
    flex-basis: 14%;
}
.col-6 {
    display: flex;
    justify-content: center;
    flex-basis: 14%;
}
.col-7 {
    display: flex;
    justify-content: center;
    flex-basis: 14%;
}